<div class="inner cover">
<a href="https://github.com/digitalpassport/digitalpassport.info">
            <img class="forkmeGithub" ng-src="/images/github-fork-me.png" width="100" height="100" alt="Fork me on GitHub">
          </a>
  <h1 class="cover-heading">Your identity. Your digital passport.</h1>
  <p class="lead">Take back your identity and get your digital passport</p>
  <div class="row">
  <div class="container passport-wrap">
    <img ng-src="/images/digipass-horizontal.png" class="img-responsive" alt="Responsive image">
  </div>
  </div>
  <p class="lead">Decentralized identity and naming system built on the blockchain</p>
  <p class="lead">
    <a href="/providers" class="btn btn-default btn-lg">Choose a Provider</a>
  </p>
</div>
