<div class="inner cover">
  <h1 class="cover-heading">Your identity. Your digital passport.</h1>
  <p class="lead">Take back your identity and get your digital passport</p>
  <div class="container col-md-5 col-centered passport-wrap">
    <img ng-src="/images/digipass-horizontal.png" class="img-responsive" alt="Responsive image">
  </div>
  <p class="lead">Decentralized identity and naming system built on the blockchain</p>
  <p class="lead">
    <a href="#" class="btn btn-default btn-lg">Choose a Provider</a>
  </p>
</div>
