<div class="inner cover" id="top">
  <a href="https://github.com/openname/specifications/wiki"><img class="githublink" ng-src="/images/github-link.png" width="100" height="100" alt="Documents on GitHub"></a>
  <div class="container col-xs-10 col-md-6 col-lg-4 col-centered jumbotron">
    <h1 class="passregistrar">Choose a digital Passport Registrar</h1>
    <p class="lead">Sign up for your digital passport by choosing one of the registrars below</p>
    <p>
      <a class="btn btn-primary btn-lg btn-registrar" href="http://onename.com" role="button">Onename</a>
      <a class="btn btn-primary btn-lg btn-registrar" href="https://namecoin.info/" role="button">Namecoin</a>
    </p>
    <p><a href="../" ><button type="button" class="btn btn-link">&lt; Back</button></a></p>
  </div>
</div>